body {
	font-size: 20px;
	border-radius: 5px;
	color: rgba(25, 206, 70, 0.849);
}

.block-form {
	background: #000;
	&__input {
		background: #fff;
	}
}
.checkbox {
	color: #222;
}

// ! Ты кто
// todo: я?
// ? да
